# Ignore all data files and folders
/data
/marmot_data

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
/data-understanding/.ipynb_checkpoints

# Ignore model files
/modeling/trained_model/

# Ignore specific data-understanding files and folders
/data-understanding/Visualizations Images
/data-understanding/images_stats.csv

# Ignore specific data-preparation folders
/data-preparation/comparison tables

# Ignore IDE-specific configuration files
.idea/